html, body { 
    height: 100%; 
}

body {
    display: table;
    width: 100%;
}

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded {
    height: 100%; 
}

.footer {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    vertical-align: middle;
}