@font-face {
    font-family: Signika;
    src: url(../fonts/Signika-Regular.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open-Sans.ttf);
}
@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/Open-Sans-Light.ttf);
}

* {
    margin: 0;
}

html, body { 
    height: 100%; 
}

.logo-header {
    max-height: 100px;
    max-width:100px;
}

img {
    margin: 0 auto;
}

.header table {
    background: #fdf862;
    min-width: 100%;
    font-family: Signika, sans-serif;
}

.header table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-left {
    padding-left: 20px;
    float: left;
}

.header-center {
    padding-left: 20px;
    float: left;
}

.header-center h2 {
    font-size: 2.6em;
    font-weight: bold;
    color: #66a570;
}

.header-center h2 small {
    font-size: 0.6em;
}

.header-right {
    padding-right: 20px;
    float: right;
}

.nav li a {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar {
    min-height: 35px;
    background: black;
    font-family: "Open Sans", sans-serif;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: white;
}

.navbar-default .navbar-nav li a:focus {
    color: white;
}

.navbar-default .navbar-nav .dropdown-menu li a {
    color: black;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1.75em;
}

.content {
    font-family: "Open Sans", sans-serif;
}

.footer, .push {
    height: 1.75em;
}

.footer {
	color:	white;
	background: black;
	font-size: 1.05em;
    font-family: Signika, sans-serif;
}


.kotak{
	width:250px;
	height:225px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border:8px solid #646464;
	background-color:#FDF862;
	padding : 2em;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.anggota-create .form-control{
width: 50%;
}

.barang-create .form-control{
width: 50%;
}

.transaksi-simpanan-create .form-control{
width: 50%;
}

textarea .form-control{
height: 200px;
}
